<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butterfly_blue/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{236,161}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_blue/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{234,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,806},{234,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_blue/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{212,153}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{239,1},{212,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_blue/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{239,770},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_green/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{236,161}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,164},{236,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_green/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{234,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,963},{234,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_green/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{212,153}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{239,156},{212,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_green/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{237,1074},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_rainbow/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{236,151}</string>
                <key>spriteSourceSize</key>
                <string>{236,155}</string>
                <key>textureRect</key>
                <string>{{1,653},{236,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_rainbow/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{232,145}</string>
                <key>spriteSourceSize</key>
                <string>{236,155}</string>
                <key>textureRect</key>
                <string>{{237,927},{232,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_rainbow/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{212,147}</string>
                <key>spriteSourceSize</key>
                <string>{236,155}</string>
                <key>textureRect</key>
                <string>{{239,621},{212,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_rainbow/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{174,145}</string>
                <key>spriteSourceSize</key>
                <string>{236,155}</string>
                <key>textureRect</key>
                <string>{{315,1388},{174,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>butterfly_red/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{236,161}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,327},{236,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_red/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{234,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,1120},{234,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_red/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{212,153}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{239,311},{212,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_red/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{237,1231},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_yellow/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{236,161}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,490},{236,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_yellow/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{234,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{1,1277},{234,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>butterfly_yellow/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{212,153}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{239,466},{212,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>butterfly_yellow/0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{236,165}</string>
                <key>textureRect</key>
                <string>{{158,1388},{174,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>butterfly.png</string>
            <key>size</key>
            <string>{470,1563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:231dc8822cfdf8c212fc3aa56bc2ba66:eb91216421eb4113a0f0cfd78e257ca2:f8d4e3391b06dc4b24e6a2c543051340$</string>
            <key>textureFileName</key>
            <string>butterfly.png</string>
        </dict>
    </dict>
</plist>
